:root {
  --color-primary: #e8e8fd;
  --color-secondary: #f8f8ff;
  --color-tertiary: #ee4d38;
  --color-text-strong: #1a194d;
  --color--text-plain: #62618F;
  --color-light: #e8e8fd;
  --color-white: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
}
body {
  background-color: var(--color-primary);
  font-family: "Poppins";

  color: var(--color-text-strong);
  width: 100%;
  height: 150%;
}
a {
  text-decoration: none;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.card {
  position: absolute;
  margin-left: 6%;
  margin-top: 1.5%;
  width: 18%;
  height: 105%;
  background-color: var(--color-tertiary);
  border-radius: 30px;
}
.wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-top: 4%;
  margin-left: 10%;
  width: 85%;
  left: 0px;
  top: 0px;
  border-radius: 30px;
}
.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  left: 0px;
  top: 0px;
  height:auto;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: var(--color-secondary);
}
.user-account {
  padding-top: 12%;
  padding-left: 3em;
  display: flex;
  gap: 12px;
}
.nav-items {
  padding-left: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
}
.picture-items{
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.logout {
  padding-left: 3em;
  display: flex;
  flex-direction: row;
}
.billing-record {
  display: flex;
  flex-direction: row;
  background-color: var(--color-white);
  width: 90%;
  padding-left: 5%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.main-billing {
  width: 100%;
}
.billing-title {
  padding-top: 4%;
  padding-left: 2%;
}
.billing-info {
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 2%;
}
.billing-pay {
  padding-left: 2%;
}
table {
  width: 80%;
}
th {
  text-align: left;
  padding-left: 3%;
  margin-top: 10%;
}
td {
  padding-left: 3%;
}
.table-row {
  margin-top: 15%;
}
.pro-row {
  box-shadow: 0px 8px 19px rgba(223, 223, 253, 0.6);
  border-radius: 8px;
}
.download-button {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  align-items: flex-start;
  padding: 9px 17px;
  margin-bottom: 5%;
  width: 114px;
  border-radius: 8px;
  border: 1px solid #cbcbd9;
}
.load-more {
  padding-left: 2%;
  color: var(--color-tertiary);
  text-decoration: underline;
}
.billing-pay {
  padding-top: 5%;
}
.visa-card {
    padding-top: 4%;
    padding-left: 2%;
    align-items: center;
    display: flex;
    margin-bottom: 3em;
    gap: 12px;
}
.visa-number {
  margin-right: 13%;
}
.remove-button {
  display: flex;
  flex-direction: row;
  padding: 9px 17px;
  width: 100%;
  margin-left: 100%;
  border-radius: 8px;
  border: 1px solid #cbcbd9;
}
.card-plan {
  width: 25em;
  height: fit-content;
  background-color: var(--color-tertiary);
  border-radius: 16px;
  color: var(--color-white);
  padding: 2em;
  margin-top: 5.5em;
  margin-right: 3em;
}
.cancel-button {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  font-size: 12px;
  padding: 9px 17px;
  width: 160px;
  border-radius: 8px;
  border: 1px solid var(--color-white);
}
